.divMain{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divText{
  text-align: center;
  width: 65%;
  margin-bottom: 30px
}
.inputPlate{
  width: 80%;
  text-align: center;
}
.buttonSearch{
  width: 80%;
  font-size: 13px;
  margin-top: 30px;
}
