@media print {
  .ant-layout-sider, .ant-layout-sider-children {
    display: none !important;
  }
  .print {
    display: block !important;
  }
}

.contentSidebar {
  padding: 36px 0 24px 24px;
  margin: auto,
}

.companyName{
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
  height: 48px;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.3s ease-in 0s;
}

.imgLogo{
  position: relative;
  margin: auto;
  transition: all 1s ease 0s!important;
}

.slider{
  overflow: auto;
  height: 100vh;
  position: fixed!important;
  left: 0;
}

.siteLayout{
  min-height: 100vh!important;
  transition: all 0.2s ease 0s;
  padding: 24px;
  overflow: hidden
}
